body {
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 140px;
}

nav a:hover {
  text-decoration: underline;
}
.nav-link.active {
  background-color: var(--bs-primary);
  opacity: 0.7;
  color: white;
  border-radius: 5px; /* Facultatif : pour arrondir les bords */
}

.heading-sec__main {
  letter-spacing: 3px;
}

/* Initial State */
.section-title {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Active State */
.section-title.active {
  opacity: 1;
  transform: translateY(0);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  height: 15px;
  position: relative;
  margin-right: 500px;
  /* background: #d0af03; */
  border-radius: 50px;
  --c: no-repeat radial-gradient(farthest-side, #000 92%, #0000);
  --s: 18px 18px;
  -webkit-mask: var(--c) left 4px top 50%, var(--c) center,
    var(--c) right 4px top 50%, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: l1 1.5s infinite;
}

/* Animation Keyframes */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Apply the animation to the buttons */
.blinking-button {
  animation: blink 1s infinite;
}

@keyframes l1 {
  0% {
    -webkit-mask-size: 0 0, 0 0, 0 0, auto;
  }
  16.67% {
    -webkit-mask-size: var(--s), 0 0, 0 0, auto;
  }
  33.33% {
    -webkit-mask-size: var(--s), var(--s), 0 0, auto;
  }
  50% {
    -webkit-mask-size: var(--s), var(--s), var(--s), auto;
  }
  66.67% {
    -webkit-mask-size: 0 0, var(--s), var(--s), auto;
  }
  83.33% {
    -webkit-mask-size: 0 0, 0 0, var(--s), auto;
  }
  100% {
    -webkit-mask-size: 0 0, 0 0, 0 0, auto;
  }
}

/* HTML: <div class="loader"></div> */
.loader1 {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: #0000;
  background: linear-gradient(
      90deg,
      #000 calc(50% - 0.5ch),
      #c02942 0 calc(50% + 0.5ch),
      #000 0
    )
    right/calc(200% + 1ch) 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: l8 2s infinite steps(11);
}
.loader:before {
  content: "";
}
@keyframes l8 {
  to {
    background-position: left;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56%;
  }
}
